


/*nav bar*/
.container-1{  
    display: flex;
}
 /* about me   */
.container-2{
    display: flex;
    align-items: center;
    background-color: rgba(0, 128, 0, 0.386);    
}
/* work section*/
.container-work {
    display: flex;
    background-color: rgb(43, 49, 47);
}


/* footer*/
.contact-area {
    display: flex;
    background-color: pink;
    
    
}

.container-1 header {
    
    padding: 10px;
  
    }

.nav1 {
    height: 3.5rem;
    flex: 1;
    background-color: rgb(43, 49, 47);
    color: aliceblue;
    font-size: 2rem;
    
    
    }

.nav2 {
    height: 3.5rem;
    flex: 2;
    background-color: rgb(43, 49, 47);
    color: aliceblue;
    font-size: 2rem;
    
    }  


a {
    text-decoration: none;
    color: aliceblue;
}

/* about me */

.container-2 div{
    border: 1px aliceblue;
}



.about-me-image{
    width: auto;
    height: 20rem;
    padding-left: 20px;
    padding-right: 20px;
}

.about-me-header{
    margin:50px;
    font-size: 3rem;

}

.about-me-text{
    margin: 20px;
    pad

}
.container-2-box1{
    flex: 2;
    
    
}
.container-2-box2{
    flex: 1;
    margin: 20px;
    
    
    font-size: 3rem;
    
}

.container-2-box3{
    flex: 1;
}

/* work */




.container-work h3 {
    
    height: 3rem;
    justify-content: center;
    flex-basis: 100%;
    text-align: center;
    font-size: 2rem;
    padding-top: 5px;
    color: aliceblue;
    
}

.JFOM {
  align-items: center;
  background-image: url(/assets/images/woodgrain.jpg);
}

.jfom-image {
    width: 60%;
    margin-left: 20%;  
    background-image: url(/assets/images/woodgrain.jpg);   
}

.image-area{
 /* display: flex; */
 flex-wrap: wrap;
 flex-direction: row;
 justify-content: center;
 
 background-image: url(/assets/images/woodgrain.jpg);
}

.img-box {
    
    width: 30%;
    padding: 0 20px 20px;

   
}

.img-box2 {
    
    width:30%;
  
}

.img-box3 {
  
    width:30%;
    
    
   ;
    /* border: solid 1px; */
   
}

img:hover {
    opacity: .5;
    transition: .9s;

}
 
 /* contact */
 .contact article{
     height: 8rem;
    

     
 }




 
.contact-header{
    flex: 1;
    margin: 1.5rem;
    
}

.contact-list{
    flex: 1;
    margin: 1rem;
}
.formbox{
    flex: 1;
    margin: 1rem;

}

.comment-box {
    height: 3rem;
    

}

@media screen and (max-width: 768px){
    .container-1{
        flex-direction: column;
        align-items: center;
        background-color: rgb(43, 49, 47);
    }
    .container-2{
        flex-direction: column;
    }

    .container-work {
        flex-direction: column;
    }


    .contact-area {
        flex-direction: column;
        background-color: pink;
       

    }
    .contact article{
        height: 14rem;
       
   
        
    }




}