
/* text */
/*
.font-large {
    font-size: 3rem;

}

.white-font {
    color:aliceblue;
}

.text-inline-block{
    display: inline-block
}
/*
/* flex */
/* 
.flex-box {
    display: flex;
} */

/* spacing */
/* 
.mt-7 {
    margin-top: 3.5rem;
  } */
