 
 
 /* header */
 
 @media(min-width: 760px) {
    
    
    
.container-1{
    display: flex;
    }
    
.container-1 section {
    border: 1px solid;
    padding: 10px;
    height: 3rem;
}

.box-1 {
    flex: 3;
    text-align: center;

 }
 
.box-2 {
   flex: 3;
   text-align: center;

}

.box-3 {
    flex: 1;
      
}

.box-4 {
    flex: 1; 
}

.box-5 {
    flex: 1;
}


/* about me */

.container-2 {
    display: flex;
    justify-content: space-around;
}

.container-2 section{
    border: 1px solid;
    padding: 10px;
    display: flex;
    align-items: center;
    flex: wrap;
}


.container-2 h3, p  {
    border: 1px solid;
    
}

.about-me-image {
  
    width: 30%; 
    /* align-content: center; */
}

@media(max-width: 760px) {.about-me-image { margin-left: 35%;}
    
}

.about-me-header {
    width: 100%;
    text-align: center;
}

.about.me.text {
    width: 40%;
   
}

/* work */


.container-work {
    display: flex;
}

.container-work h3 {
    border: 1px solid;
    height: 1rem;
    justify-content: center;
    flex-basis: 100%;
    text-align: center;
}

.JFOM {
  align-items: center;
}

.jfom-image {
    width: 60%;
    margin-left: 20%;     
}

.image-area{
 display: flex;
 flex-wrap: wrap;
 flex-direction: row;
 justify-content: center;

}

.img-box {
    width: 30%;

    padding: 0 20px 20px;
   
}

.img-box2 {
    width:30%;
  
}

.img-box3 {
    width:30%;
    
   ;
    /* border: solid 1px; */
   
}

img:hover {
    opacity: .5;
    transition: .9s;

}
 
 /* contact */
 
.contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
 
 
 
 
 
 
 
 
 