:root :{
    --dark-colour: rgb(43, 49, 47);
    --font-white: aliceblue;
    
    }
 
 /* header */
 
 @media(min-width: 760px) {   
.container-1{
    display: flex;
}
    
.container-1 section {
    /* border: 1px solid; */
    padding: 10px;
    height: 3.5rem;
    flex-direction: row;
}

 } /*end of header media query*/


.nav {
    flex: 3;
    text-align: center;
    background-color: rgb(43, 49, 47);
    color: aliceblue;
    font-size: 2rem;
    
    }

a {
    text-decoration: none;
    color: aliceblue;
}

/* about me */

@media(min-width: 760px){
.about-me-container {
    display: flex;
    justify-content: space-around;
    height: 25rem;
    background-color: rgba(7, 106, 7, 0.673);
   
}

.about-me-container section{
    flex-direction: row;
  


}
.about-me-header {
    flex: 1;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    color: white;
    
}

.about-me-text {
    flex: 1;
    width: 40%;
    color: white;
 
}

.about-me-image {
  
    width: 30%; 
    flex: 1;
    

}}




/* work */


.container-work {
    display: flex;
    background-color: rgb(43, 49, 47);
}

.container-work h3 {
    
    height: 3rem;
    justify-content: center;
    flex-basis: 100%;
    text-align: center;
    font-size: 2rem;
    padding-top: 5px;
    color: aliceblue;
    
}

.JFOM {
  align-items: center;
  background-image: url(/assets/images/Woodgrain.webp);
}

.jfom-image {
    width: 60%;
    margin-left: 20%;  
    background-image: url(/assets/images/Woodgrain.webp);   
}

.image-area{
 display: flex;
 flex-wrap: wrap;
 flex-direction: row;
 justify-content: center;
 
 background-image: url(/assets/images/Woodgrain.webp);
}

.img-box {
    width: 30%;

    padding: 0 20px 20px;
   
}

.img-box2 {
    width:30%;
  
}

.img-box3 {
    width:30%;
    
   ;
    /* border: solid 1px; */
   
}

img:hover {
    opacity: .5;
    transition: .9s;

}
 
 /* contact */
 .contact article{
     height: 6rem;
    

     
 }



.contact-area {
    display: flex;
    background-color: pink;
    
    
}
 
.contact-header{
    flex: 1;
    
}

.contact-list{
    flex: 1;
}
.formbox{
    flex: 1;
}
    
 
 
 